.maindiv {
  height: 700px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.first {
  height: 500px;
  width: 30%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.f-art {
  height: 100px;
  width: 90%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.head1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.textdiv {
  height: auto;
  width: 90%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.head2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.second {
  height: 500px;
  width: 30%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.s-art {
  height: 100px;
  width: 90%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.third {
  height: 500px;
  width: 40%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btndiv {
  height: 50px;
  width: 90%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.btn {
  height: 40px;
  width: 100px;
  background-color: rgb(211, 209, 209);
  font-size: 20px;
  border: none;
}
.bludiv {
  height: 40px;
  width: 90%;
  background-color: antiquewhite;
}
.blushbtn {
  height: 40px;
  width: 100%;
  background-color: rgb(211, 209, 209);
  font-size: 20px;
  border: none;
}
.text {
  height: auto;
  width: 90%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.head3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
